 {{!-- About us startsstarts --}}
  <div class="container-fluid mt-5 about-style " id="about-id">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your busines with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="images/img1.jpg" alt="hero image">
            </figure>
          </div>
          
          {{!-- right side --}}
          <div
            class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column ">
            <h1>we will help you</h1>
            <h1>grow your business</h1>
            <p>  ditate quod quas dolorum voluptas asperiores? Enim repellat saepe recusandae nobis possimus, dignissimos voluptate veniam deleniti, qui atque facilis ratione harum quia fugit? Suscipit. <span class="bold-style">Professional developer</span> </p>
            <button class="btn-style btn-primary">Read more</button>
          </div>
        </div>

      </div>
    </div>
  </div>